<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
   {{>navbar}}

    <!-- main-header yaha se -->
    <div class="container-fluid main-header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
             <div class="col-md-12 col-12 main_header_left align-items-center">
                <figure>
                    <img src="img/404.jpg" alt="about me img" class = "img-fluid" title = "roohiit">
                </figure>
           
              <p class="header_left_p">It seems something wrong here..</p>
              <h2 >{{errorMsg}}</h2>
           
              <a href="/"><button>Go Back</button></a>
            </div>
            <!-- right side div -->
           
          </div>
        </div>
      </div>
    </div>

    {{>footer}}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
