<!DOCTYPE html>
<html lang="en">
  <head>
   {{>headerlinks}}
  </head>
  <body>
   {{>navbar}}

    <!-- main-header yaha se -->
    <div class="container-fluid main-header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
        <div class="main_content">
            <form class= "temp_form">
                <input type="text" name="" id="cityName" placeholder="Enter your city name" autocomplete="off">
                <input type="submit" value="Search" id= "searchBtn">
            </form>
        </div>

        <div class="tempinfo">
            <div class="top_layer">
                <p id="day">Monday</p>
                <p id="today_date">April 15</p>
            </div>
            <div class="main_layer ">
                <p id="city_name">Get Output here</p>
                <div class="middle_layer data_hide">
                    <p id="temp"><span id= "temp_real_value">0</span><sup>o</sup>C</p>
                    <p id="temp_status"><i class="fa fa-cloud"></i></p>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>

  {{>footer}}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <script src= "js/main.js"></script>

    <script>

        const today_date = document.getElementById("today_date")


     const getCurDay = () => {
          var weekday = new Array(7);
          weekday[0] = "Sunday";
          weekday[1] = "Monday";
          weekday[2] = "Tuesday";
          weekday[3] = "Wednesday";
          weekday[4] = "Thursday";
          weekday[5] = "Friday";
          weekday[6] = "Saturday";
                   
        let currentTime = new Date();
        days=  weekday[currentTime.getDay()];

        let day = document.getElementById("day")
           day.innerText = days
        }
        getCurDay();

    </script>
  </body>
</html>
